input:focus {
    outline: none;
}

input {
    padding: 2px 5px 2px 5px;
    border: 1px dashed rgb(22, 145, 226);
}

button {
    margin: 0px 0px 0px 5px;
    cursor: pointer;
}

button:disabled {
    cursor: default;
}