<mat-list>
    <mat-list-item *ngFor="let item of menuItemsList; let i=index; last as last">
        <div [ngStyle]="{'display': 'flex', 'width': '100%', 'height': 'auto', 'align-item':'center'}">
            <span
                [ngStyle]="{'margin-right': '15px', 'flex-basis': '5%', 'align-self': 'center', 'display': 'flex', 'justify-content': 'center', 'align-items': 'center'}">
                #{{item.id}} </span>
            <span [ngStyle]="{'font-weight': 'bold', 'flex-basis': '45%', 'align-self': 'center', 'padding': '10px'}">
                {{item.title}}
            </span>
            <span [ngStyle]="{'flex-basis': '45%',  'align-self': 'center', 'padding': '10px', 'cursor': 'pointer'}" (click)="expand(i)">
                <!-- TODO why ngif else not workint?? -->
                <ng-container *ngIf="currentExpanded !== i && item.getCategoryNames().length > 0">
                    {{getNiceString(item.getCategoryNames())}}
                </ng-container>
                <ng-container *ngIf="currentExpanded !== i && item.getCategoryNames().length == 0">- - - no categories -
                    - -</ng-container>
                <app-category-check-list *ngIf="currentExpanded === i" [categories]="item.getCategoryNames()"
                    [id]="item.id" (onReset)="onReset($event)" (onCommit)="onCommit($event)"  [ngStyle]="{'cursor': 'default'}">
                </app-category-check-list>
            </span>
            <span
                [ngStyle]="{'flex-basis': '5%', 'display': 'flex', 'justify-content': 'center', 'align-items': 'center', 'cursor': 'pointer'}"
                (click)="changeItemStatus(item.id)" >
                <mat-icon matTooltip="available" [matTooltipShowDelay]="1000" *ngIf="item.isAvailable">check
                </mat-icon>
                <mat-icon matTooltip="available" [matTooltipShowDelay]="1000" *ngIf="!item.isAvailable">close
                </mat-icon>
            </span>
        </div>
        <mat-divider *ngIf="!last"></mat-divider>
    </mat-list-item>
</mat-list>

<!-- https://www.infragistics.com/products/ignite-ui-angular/angular/components/list -->